<div class="container" *ngIf="title">
  <div class="row page-title">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="container-fluid navbar-catalog-container">
  <div class="container">
    <div class="row catalog-nav justify-content-center">
      <div class="col-lg-3">
        <a class="btn men-button" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Men</a>
      </div>
      <div class="col-lg-3">
        <a class="btn categories-button" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Categories.</a>
      </div>
      <div class="col-lg-3">
        <a class="btn women-button" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Women</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <ul class="men">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/t-shirts/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">T-Shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/jeans/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Jeans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/shoes/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Shoes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/hats/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Hats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/jackets/men']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Jackets</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            <ul class="women">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/t-shirts/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">T-Shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/jeans/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Jeans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/shoes/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Shoes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/hats/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Hats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/catalog/dresses/women']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dresses</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
