<div class="container-fluid">
  <div class="container home-container">
    <app-home-carousel></app-home-carousel>
    <div class="img-container">
      <div class="row images">
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
      </div>
    </div>
    <div class="categories-container">
      <div class="row justify-content-between categories">
        <h2>Categories</h2>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Shirts</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Sweatshirts</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Jeans</h3>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Bikini</h3>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Dresses</h3>
        </div>
      </div>
    </div>
  </div>
</div>
