<div class="container-fluid">
  <div class="container home-container">
    <app-home-carousel [images]="carouselImages"></app-home-carousel>
    <div class="img-container">
      <div class="row images">
        <app-home-banner class="col-lg-4" *ngFor="let b of bannerImages" [image]="b"></app-home-banner>
      </div>
    </div>
    <div class="categories-container">
      <div class="row justify-content-between categories" >
        <h2>Categories</h2>
        <app-home-category class="col-lg-2 col-md-3 col-sm-5" *ngFor="let c of categories" [category]="c"></app-home-category>
      </div>
    </div>
  </div>
</div>
