<div class="container-fluid">
  <div class="container home-container">
    <div class="carousel-container">
      <div id="carouselExampleControls" class="carousel slide 100-px.wide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/random" class="d-block w-100 img-fluid" alt="random">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/random" class="d-block w-100 img-fluid" alt="random">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/random" class="d-block w-100 img-fluid" alt="random">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="img-container">
      <div class="row images">
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
        <div class="col-lg-4"><img class="img-fluid" src="https://source.unsplash.com/random" alt=""></div>
      </div>
    </div>
    <div class="categories-container">
      <div class="row justify-content-between categories">
        <h2>Categories</h2>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Shirts</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Sweatshirts</h3>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Jeans</h3>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-5 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Bikini</h3>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 category-item">
          <a href="">
            <img class="img-fluid" src="https://source.unsplash.com/random" alt="">
          </a>
          <h3>Dresses</h3>
        </div>
      </div>
    </div>
  </div>
</div>
