<div class="container-fluid social-media">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-4 col-md-12 txt">
        <p>Get connected with us on social networks!</p>
      </div>
      <div class="col-lg-5 col-md-8 col-md-12 badges">
        <ul class="media-links justify-content-end">
          <li><a href="https://github.com/anthonylldev">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a></li>
          <li><a href="https://hub.docker.com/u/anthonylldev">
            <fa-icon [icon]="faDocker"></fa-icon>
          </a></li>
          <li><a href="https://twitter.com/anthonylldev">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a></li>
          <li><a href="https://www.linkedin.com/in/anthonylldev/">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid info">
  <div class="container-lg aa">
    <div class="row justify-content-center ss">
      <div class="col-lg-3 col-md-4 col-sm-12 col-12 company">
        <h3>Leon-shopping.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae dolorem esse et eum id inventore
          maxime molestias omnis placeat reiciendis.
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4  col-6 products">
        <h3>Products</h3>
        <ul>
          <li [routerLink]="['..']">Home</li>
          <li [routerLink]="['catalog']">Catalog</li>
          <li [routerLink]="['contact']">Contact</li>
          <li [routerLink]="['blog']">Blog</li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4  col-6 useful-links">
        <h3>Pages</h3>
        <ul>
          <li [routerLink]="['..']">Home</li>
          <li [routerLink]="['catalog']">Catalog</li>
          <li [routerLink]="['contact']">Contact</li>
          <li [routerLink]="['blog']">Blog</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-12 contact">
        <h3>Contact</h3>
        <ul>
          <li>
            <fa-icon [icon]="faHome"></fa-icon>
            <span>Av. General Páramo 10</span>
          </li>
          <li>
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <a href="mailto:anthonyfabian22ll@gmail.com">anthonyfabian22ll@gmail.com</a>
          </li>
          <li>
            <fa-icon [icon]="faPhone"></fa-icon>
            <span>+34 628 078 776</span>
          </li>
          <li>
            <fa-icon [icon]="faPrint"></fa-icon>
            <span>+34 628 078 776</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid copyright">
  <div class="container-lg justify-content-center">
    <p><span>&copy; 2022 Copyright:</span> Leon-Shopping.</p>
  </div>
</div>
